{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h1 class="fw-bold text-primary-custom mb-4">👥 Gestión de Usuarios</h1>

    <div class="text-end mb-3">
        <a href="{% url 'usuarios_create' %}" class="btn btn-success-custom">+ Crear Usuario</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Fecha Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{ u.usuario_id }}</td>
                <td>{{ u.nombre }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.rol }}</td>
                <td>{{ u.fecha_registro }}</td>
                <td>
                    <a href="{% url 'usuarios_edit' u.usuario_id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'usuarios_delete' u.usuario_id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
