{% extends 'base.html' %}
{% load static %}

{% block title %}Detalle de Amenaza{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card detail-card shadow">

        <div class="card-body">

            <h2 class="fw-bold text-primary-custom mb-3">
                {{ threat.nombre }}
            </h2>

            <span class="badge bg-biodiv fs-6 mb-3">
                {{ threat.tipo }}
            </span>

            <h5 class="text-dark-green mt-4">Descripción</h5>
            <p class="description-box">
                {{ threat.descripcion }}
            </p>

            <div class="mt-4">

                <a href="{% url 'amenazas' %}" 
                   class="btn btn-outline-primary-custom me-2">
                    ← Volver
                </a>

                {% if request.session.usuario_rol == "Administrador" %}
                <a href="{% url 'amenaza_edit' threat.amenaza_id %}" 
                   class="btn btn-warning me-2">
                    Editar
                </a>

                <form action="{% url 'amenaza_eliminar' threat.amenaza_id %}" 
                      method="POST" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-danger"
                            onclick="return confirm('¿Eliminar esta amenaza?');">
                        Eliminar
                    </button>
                </form>
                {% endif %}

            </div>

        </div>
    </div>

</div>

{% endblock %}

