{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Amenaza{% endblock %}

{% block content %}

<div class="container mt-4">

    <h1 class="fw-bold text-primary-custom mb-4">✏️ Editar Amenaza</h1>

    <div class="card form-card shadow">
        <div class="card-body">

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">ID</label>
                    {{ form.amenaza_id }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    {{ form.nombre }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Tipo</label>
                    {{ form.tipo }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    {{ form.descripcion }}
                </div>

                <button class="btn btn-primary-custom w-100 mt-3">Actualizar</button>
                <a href="{% url 'amenaza_detail' amenaza.amenaza_id %}"
                   class="btn btn-outline-primary-custom w-100 mt-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
