{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-sm p-4">

        <h3 class="fw-bold text-danger">
            ¿Eliminar especie?
        </h3>

        <p>¿Seguro que deseas eliminar la especie
           <strong>{{ especie.nombre_comun }}</strong>?  
           Esta acción no se puede deshacer.
        </p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'especie_detail' especie.especie_id %}" class="btn btn-secondary">
                Cancelar
            </a>
        </form>

    </div>

</div>

{% endblock %}
